# Frontend Configuration
NEXT_PUBLIC_APP_VERSION=1.0.0
NEXT_PUBLIC_UPDATE_DATE=2026-06-11

# Data Source Control
# Set to true to use public/mock/*.json files
NEXT_PUBLIC_USE_MOCK=true

# Simultaneous Backend API Configurations
NEXT_PUBLIC_API_PYTHON_URL=http://localhost:8000/api-python
NEXT_PUBLIC_API_GOLANG_URL=http://localhost:8080/api-golang
NEXT_PUBLIC_API_NODEJS_URL=http://localhost:3000/api-nodejs
